.main-container {
    margin-left: 20%;
    padding-top: 30px;
}

.dashheader {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    background-color: #f2f2f2;
}
