@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: current !important;
}

::selection {
  background-color: #ffcfd280;
}

@layer base {
  /* body {
    @apply bg-background font-fontCodePro;
  } */
  ::-webkit-scrollbar {
    @apply bg-white w-[4px] h-[4px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-red-400 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}
